@model PagedList.IPagedList<Safari.UI.Web.Models.MovimientoVM>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Listado de Movimientos";
}

<h2>Listado de Movimientos por Cliente</h2>

<p>
    <a id="btnCreate" class="btn btn-sm btn-info" style="margin-top: 10px; margin-bottom: 10px;" data-fancybox data-type="iframe" data-src="@Url.Action("Create", "Movimiento")" href="javascript:;">Generar nuevo movimiento</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Fecha", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Cliente", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.Raw("Valor")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaUltimoMov)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nombre) @Html.DisplayFor(modelItem => item.Cliente.Apellido)
        </td>
        @{
            if (item.saldo > 0)
            {
                <td style="color:green">
                    @Html.DisplayFor(modelItem => item.saldo)
                </td>
            }
            else if(item.saldo < 0)
            {
                <td style="color:red">
                    @Html.DisplayFor(modelItem => item.saldo)
                </td>
            }
            else
            {
                <td>Sin Saldo</td>
            }
        }
        <td>
            <a id="btnDetails" data-fancybox data-type="iframe" data-src="@Url.Action("IndexByCliente", new { idCliente = item.idCliente })" href="javascript:;" class="btn btn-xs btn-info"><i class="glyphicon glyphicon-eye-open"></i> Movimientos</a>
        </td>
    </tr>
}

</table>
<br />
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))


    @section Scripts {
        <script>
            $("a#btnCreate").fancybox({
                'afterClose': function () { window.location.reload(); },
                iframe: { css: { width: '750px' } }
            });
            $("a#btnEdit").fancybox({
                'afterClose': function () { window.location.reload(); },
                iframe: { css: { width: '750px' } }
            });
            $("a#btnDetails").fancybox({
                'afterClose': function () { window.location.reload(); },
                iframe: { css: { width: '750px' } }
            });
            $("a#btnDelete").fancybox({
                'afterClose': function () { window.location.reload(); },
                iframe: { css: { width: '750px' } }
            });
        </script>
    }