@model Safari.Entities.Cita

@{
    ViewBag.Title = "Nuevo";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="">
        <h4>Nueva Cita</h4>
        <hr />
        <input type="hidden" name="CreatedDate" id="CreatedDate" value="@DateTime.Now" />
        <input type="hidden" name="CreatedBy" id="CreatedBy" value="1" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha, "{0:dd/MM/yyyy}", new { htmlAttributes = new { @class = "form-control datefield", autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MedicoId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MedicoId, (SelectList)ViewBag.Medicos, "Seleccione", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PacienteId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PacienteId, (SelectList)ViewBag.Pacientes, "Seleccione", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SalaId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SalaId, (SelectList)ViewBag.Salas, "Seleccione", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoServicioId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TipoServicioId, (SelectList)ViewBag.TiposServicio, "Seleccione", new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Estado", new List<SelectListItem>
                 {
                    new SelectListItem{ Text="Reservado", Value = "Reservado" },
                    new SelectListItem{ Text="Confirmado", Value = "Confirmado" },
                    new SelectListItem{ Text="Realizado", Value = "Realizado" },
                    new SelectListItem{ Text="Cancelado", Value = "Cancelado" }
                 },
                    "Seleccione",
                    new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input style="margin-right: 10px" type="submit" value="Crear" class="btn btn-sm btn-success" onclick="parent.jQuery.fancybox.close()" />
                <input type="button" value="Volver" class="btn btn-sm btn-info" onclick="parent.jQuery.fancybox.close()" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @*http://www.kestrelblackmore.com/blog/jquery-datepicker-mvc4*@
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>



    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/datepicker/datepicker-esAR.js"></script>


}