
@model PagedList.IPagedList<Safari.Entities.Cita>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
@{
    ViewBag.Title = "Listado de Citas";
}

<h2>Listado de Citas</h2>

<p>
    <a id="btnCreate" class="btn btn-sm btn-info" style="margin-top: 10px; margin-bottom: 10px;" data-fancybox data-type="iframe" data-src="@Url.Action("Create", "Cita")" href="javascript:;">Agendar nueva cita</a>
</p>
<div id="calendar" class="calendar">
</div>
<a id="btnEdit" data-fancybox data-type="iframe" style="display:none" href="javascript:;" class="btn btn-xs btn-success"><i class="glyphicon glyphicon-edit"></i> Editar</a>
@*@using (Html.BeginForm("Index", "Cita", FormMethod.Get))
{
    <p style="margin: 8px;">
        Buscar por Nombre: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Buscar" class="btn btn-sm btn-info" style="margin: 8px; padding: 5px; padding-left: 15px; padding-right: 15px;" />
    </p>
}
<hr />

<table class="table">
    <tr>
        <th>
            @Html.Raw("Fecha")
        </th>
        <th>
           @Html.ActionLink("Medico", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Paciente", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
           @Html.Raw("Sala")
        </th>
        <th>
           @Html.Raw("Estado")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medico.Nombre) @Html.DisplayFor(modelItem => item.Medico.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sala.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            <a id="btnDetails" data-fancybox data-type="iframe" data-src="@Url.Action("Details", new { id = item.Id })" href="javascript:;" class="btn btn-xs btn-info"><i class="glyphicon glyphicon-eye-open"></i> Detalle</a>
            <a id="btnEdit" data-fancybox data-type="iframe" data-src="@Url.Action("Edit", new { id = item.Id })" href="javascript:;" class="btn btn-xs btn-success"><i class="glyphicon glyphicon-edit"></i> Editar</a>
            <a id="btnDelete" data-fancybox data-type="iframe" data-src="@Url.Action("Delete",  new { id = item.Id })" href="javascript:;" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i> Eliminar</a>
        </td>
    </tr>
}

</table>

<br />
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@



@section Scripts {
    <script>
        $("a#btnCreate").fancybox({
            'afterClose': function () { window.location.reload(); },
            iframe: { css: { width: '750px' } }
        });
        $("a#btnEdit").fancybox({
            'afterClose': function () { window.location.reload(); },
            iframe: { css: { width: '750px' } }
        });
        $("a#btnDetails").fancybox({
            'afterClose': function () { window.location.reload(); },
            iframe: { css: { width: '750px' } }
        });
        $("a#btnDelete").fancybox({
            'afterClose': function () { window.location.reload(); },
            iframe: { css: { width: '750px' } }
        });


    </script>
<script src='http://fullcalendar.io/js/fullcalendar-3.4.0/lib/moment.min.js'></script>
<script src='http://fullcalendar.io/js/fullcalendar-3.4.0/lib/jquery.min.js'></script>
<script src="http://fullcalendar.io/js/fullcalendar-3.4.0/lib/jquery-ui.custom.min.js"></script>
<script src="~/Scripts/fullcalendar/fullcalendar.min.js"></script>
<script src="~/Scripts/fullcalendar/locale/es.js"></script>
<script src="~/Scripts/Citas.js"></script>
}
