@model List<Safari.Entities.Paciente>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Listado de Pacientes por Cliente";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}

<h2>Listado de Pacientes por Cliente</h2>
<div>
    <a id="btnCreate" class="btn btn-sm btn-info" style="margin-top: 10px; margin-bottom: 10px;" data-fancybox data-type="iframe" data-src="@Url.Action("Create")" href="javascript:;">Crear Nuevo Paciente</a>
</div>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.Raw("Nombre")
        </th>
        <th>
            @Html.Raw("Cliente")
        </th>
        <th>
            @Html.Raw("Fecha de Nacimiento")
        </th>
        <th>
            @Html.Raw("Especie")
        </th>
        <th>
            @Html.Raw("Observacion")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nombre) @Html.DisplayFor(modelItem => item.Cliente.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especie.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                <a id="btnDetails" data-fancybox data-type="iframe" data-src="@Url.Action("Details", new { id = item.Id })" href="javascript:;" class="btn btn-xs btn-info"><i class="glyphicon glyphicon-eye-open"></i> Detalle</a>
                <a id="btnEdit" data-fancybox data-type="iframe" data-src="@Url.Action("Edit",  new { id = item.Id })" href="javascript:;" class="btn btn-xs btn-success"><i class="glyphicon glyphicon-edit"></i> Editar</a>
                <a id="btnDelete" data-fancybox data-type="iframe" data-src="@Url.Action("Delete", new { id = item.Id })" href="javascript:;" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i> Eliminar</a>
            </td>
        </tr>
    }

</table>



    @section Scripts {
        <script>
        $("a#btnCreate").fancybox({
            'afterClose': function () { window.location.reload(); },
            //iframe: { css: { width: '750px' } }
        });
        $("a#btnEdit").fancybox({
            'afterClose': function () { window.location.reload(); },
            //iframe: { css: { width: '750px' } }
        });
        $("a#btnDetails").fancybox({
            'afterClose': function () { window.location.reload(); },
            //iframe: { css: { width: '750px' } }
        });
        $("a#btnDelete").fancybox({
            'afterClose': function () { window.location.reload(); },
            //iframe: { css: { width: '750px' } }
        });
        </script>
    }