@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Especie", "Index", "Especie")</li>
    </ul>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Sala", "Index", "Sala")</li>
    </ul>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Cliente", "Index", "Cliente")</li>
    </ul>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Mascota", "Index", "Mascota")</li>
    </ul>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Tipo Movimiento", "Index", "TipoMovimiento")</li>
    </ul>
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Tipo Servicio", "Index", "TipoServicio")</li>
    </ul>
}
